<div class="container-fluid team ">
    <div class="row team-header d-flex justify-content-center">
        <h2>Наша команда</h2>
    </div>
    <div class="row">
        <div class="team-carousel" id = "team-carousel">
            <owl-carousel [options]="myCarouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
                <div *ngFor="let user of users" class="team-carousel-item item">
                    <figure class="item-img">
                        <div *ngIf="user.img_name; then thenBlock else elseBlock"></div>   
                        <ng-template #thenBlock>
                            <img *ngIf="user.img_name" class="team-img" src="../../../../assets/img/users/{{ user.img_name }}"
                            alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'">
                        </ng-template>  
                        <ng-template #elseBlock>
                            <i class="far fa-user"></i>
                        </ng-template>
                    </figure>
                    <div class="info">
                        <div *ngIf="isUkr; then thenBlockText else elseBlockText"></div>   
                        <ng-template #thenBlockText>
                            {{ (user.pos_ukr)? user.pos_ukr : ""}}
                            <br>
                            {{ (user.f_name_ukr)? user.f_name_ukr : ""}}
                        </ng-template>  
                        <ng-template #elseBlockText>
                            {{ (user.pos_rus)? user.pos_rus : ""}}
                            <br>
                            {{ (user.f_name_rus)? user.f_name_rus : ""}}
                        </ng-template>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div>
</div>