.oblvideo .container, .oblvideo .container-fluid, .privatvideo .container, .privatvideo .container-fluid, .orendamest .container, .orendamest .container-fluid, .orendatrans .container, .orendatrans .container-fluid {
    padding: 20px; 
    text-align: center;
}
  
.oblvideo .intro .row, .privatvideo .intro .row, .orendamest .intro .row, .orendatrans .intro .row {
  padding-left: 15px;
  padding-right: 15px; }

.oblvideo .intro-header, .privatvideo .intro-header, .orendamest .intro-header, .orendatrans .intro-header {
  width: 100%; }

.oblvideo .intro-body, .privatvideo .intro-body, .orendamest .intro-body, .orendatrans .intro-body {
  width: 100%; }

.oblvideo .adr, .privatvideo .adr, .orendamest .adr, .orendatrans .adr {
  white-space: nowrap; }
  .oblvideo-list, .privatvideo-list, .orendamest-list, .orendatrans-list {
    background-color: #aaaaaa; 
}

    .oblvideo-list ul, .privatvideo-list ul, .orendamest-list ul, .orendatrans-list ul {
      margin-bottom: 0px;
      padding-bottom: 20px;
      padding-top: 20px; }
      .oblvideo-list ul .page-item .page-link, .privatvideo-list ul .page-item .page-link, .orendamest-list ul .page-item .page-link, .orendatrans-list ul .page-item .page-link {
        color: #000; }
        .oblvideo-list ul .page-item .page-link:hover, .privatvideo-list ul .page-item .page-link:hover, .orendamest-list ul .page-item .page-link:hover, .orendatrans-list ul .page-item .page-link:hover {
          background-color: #FF6B50;
          border-color: #FF6B50;
          opacity: 0.7;
          -webkit-transition: color 0.25s ease;
          -o-transition: color 0.25s ease;
          transition: color 0.25s ease; }
      .oblvideo-list ul .disabled, .privatvideo-list ul .disabled, .orendamest-list ul .disabled, .orendatrans-list ul .disabled {
        opacity: 0.7; }
      .oblvideo-list ul .active .page-link, .privatvideo-list ul .active .page-link, .orendamest-list ul .active .page-link, .orendatrans-list ul .active .page-link {
        background-color: #FF6B50;
        border-color: #FF6B50; }
  
  .oblvideo-photo, .privatvideo-photo, .orendamest-photo, .orendatrans-photo {
    background-color: #aaaaaa; }
  
  .oblvideo .fotorama__wrap, .privatvideo .fotorama__wrap, .orendamest .fotorama__wrap, .orendatrans .fotorama__wrap {
    margin: auto; }
  
  .oblvideo .fotorama__nav-wrap, .privatvideo .fotorama__nav-wrap, .orendamest .fotorama__nav-wrap, .orendatrans .fotorama__nav-wrap {
    position: absolute;
    bottom: 10px;
    padding: 0 30px;
    width: 100%; }
  
  .oblvideo .fotorama__thumb, .privatvideo .fotorama__thumb, .orendamest .fotorama__thumb, .orendatrans .fotorama__thumb {
    border: 5px solid white;
    -webkit-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease; }
    .oblvideo .fotorama__thumb-border, .privatvideo .fotorama__thumb-border, .orendamest .fotorama__thumb-border, .orendatrans .fotorama__thumb-border {
      border-color: #FF6B50; }