<header>
  <div class="section header">
      <div class="container-fluid my-header-top">
          <div class="row"> 
              <div class="col-sm-12 col-md-2 left d-lg-flex justify-content-end align-items-start">
                  <!-- {% if current_user.has_role("admin") or
                        current_user.has_role("redactor") or
                        current_user.has_role("main") %}
                  <div class="admin-link">
                      <a href="/admin">Admin</a>
                  </div>
                  {% endif %} -->
                  <img class="logo" src="assets/img/logo.svg" alt="КП ХОР 'ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР'" height="150px">
              </div>
              <div class="col-12 col-md-8">
                  <h1 class="h-name">
                    <!-- {{"КП ХОР " if lang=="ukr" else "КП ХОC "}} -->
                    <span class="olc">
                      <!-- {{'"ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР"' if lang=="ukr" else '"Областной логистический центр"'}} -->
                    </span>
                  </h1>
                  <h6>
                      <div class="sm-h-phone d-md-none d-sm-block">
                          <i class="fas fa-mobile-alt"></i>
                          <!-- {{ main_user.phone }} -->
                      </div>
                  </h6>
                  <div class="menu d-flex justify-content-center">
                      <nav class="navbar navbar-expand-sm navbar-dark">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="true">
                              <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="collapsibleNavbar">
                              <ul class="navbar-nav">
                                <li class="nav-item" routerLinkActive = "active">
                                    <a class="nav-link" 
                                        [routerLink] = "['golovna']"
                                        [queryParams]="{'lang': lang }">
                                        Main
                                      <!-- {{"Головна" if lang=="ukr" else "Главная"}} -->
                                    </a>
                                </li>
                                <li slide class="nav-item dropdown" routerLinkActive = "active">
                                    <a class="nav-link" 
                                        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Video
                                        <!-- {{"Відеозйомка" if lang=="ukr" else "Видеосъёмка"}} -->
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" 
                                            [routerLink] = "['gallery','oblvideo']"
                                            [queryParams]="{'lang': lang }">
                                            Video 1
                                            <!-- {{"Відео для облради" if lang=="ukr" else "Видео для облсовета"}} -->
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" 
                                            [routerLink] = "['gallery','privatvideo']"
                                            [queryParams]="{'lang': lang }">
                                            Video 2  
                                          <!-- {{"Відео на замовлення" if lang=="ukr" else "Видео на заказ"}} -->
                                        </a>
                                    </div>
                                </li>
                                <li slide class="nav-item dropdown" routerLinkActive = "active">
                                    <a class="nav-link" 
                                        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Realty
                                        <!-- {{"Оренда" if lang=="ukr" else "Aренда"}} -->
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                            [routerLink] = "['orenda','realty']"
                                            [queryParams]="{'lang': lang }">
                                            Realty 1  
                                          <!-- {{"Оренда приміщень" if lang=="ukr" else "Аренда помещений"}} -->
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item"
                                            [routerLink] = "['orenda','vehiclerenta']"
                                            [queryParams]="{'lang': lang }">
                                            Realty 2  
                                          <!-- {{"Оренда автотранспорту" if lang=="ukr" else "Аренда автотранспорта"}} -->
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item" routerLinkActive = "active">
                                    <a class="nav-link" 
                                        [routerLink] = "['aboutus']"
                                        [queryParams]="{'lang': lang }">
                                        AboutUs    
                                    <!-- {{"Про нас" if lang=="ukr" else "O нас"}} -->
                                    </a>
                                </li>
                                <li class="nav-item" routerLinkActive = "active">
                                    <a class="nav-link" 
                                        [routerLink] = "['contacts']"
                                        [queryParams]="{'lang': lang }">
                                        Contacts    
                                    <!-- {{"Контакти" if lang=="ukr" else "Контакты"}} -->
                                    </a>
                                </li> 
                              </ul>
                          </div> 
                      </nav>
                  </div>
              </div>   
              <div class="col-md-2 right">
                  <div class="h-phone d-none d-md-block">
                      <i class="fas fa-mobile-alt"></i>
                      <!-- {{ main_user.phone }} -->
                  </div>
                  <!-- <nav class="nav justify-content-center lang">
                      <li class="nav-item">
                          <a class="nav-link {{ lang=='ukr' and 'active' }}" id = 'ukr' 
                              href="{{request.path}}?lang=ukr">укр</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {{ lang=='rus' and 'active' }}" id = 'rus' 
                              href = "{{request.path}}?lang=rus">рус</a>
                      </li>
                  </nav> -->
              </div>
          </div>
      </div>
  </div>
</header>