<div class="section oblvideo">
    <div class="container intro">
        <div class="row">
            <div class="intro-header">
                <h2>
                    {{ (isUkr)? "Відео для Харківської облради" 
                    : "Видео для харьковского облсовета" }}
                </h2>
            </div>
            <div class="intro-body">
                <div *ngIf="isUkr; then thenBlockText else elseBlockText"></div>   
                <ng-template #thenBlockText>
                    <p>
                      КП ХОР <span class="olc">«ОБЛАСНИЙ ЛОГІСТИЧНИЙ ЦЕНТР»</span> 
                      вже довгий час знімає відео для Харківської обласної ради. 
                      Наші фахівці фіксують на відео офіційні та неофіційні заходи 
                      за участю керівництва облради, а також проводять онлайн-трансляції 
                      та записують засідання конкурсних комісій.
                    </p>
                </ng-template>  
                <ng-template #elseBlockText>
                    <p>
                      КП ХОС <span class="olc">«ОБЛАСНОЙ ЛОГИСТИЧЕСКИЙ ЦЕНТР»</span> 
                      уже долгое время снимает видео для Харьковского областного совета. 
                      Наши специалисты фиксируют на видео официальные и неофициальные 
                      мероприятия с участием руководства облсовета, а также проводят 
                      онлайн-трансляции и записывают заседания конкурсных комиссий.
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="container-fluid oblvideo-list" *ngIf="isVideo">
        <app-video-list [videos] = "videos"></app-video-list>
    </div>
</div>
