.contacts {
  background-color: #aaaaaa;
  text-align: center;
}
.contacts-main {
  background-color: #fff;
}
.contacts-main .row {
  padding-left: 15px;
  padding-right: 15px; 
}
.contacts-main-header {
  width: 100%;
  padding-top: 20px; 
}
.contacts-main-intro {
  width: 100%; 
}
.contacts-main-person {
  width: 100%;
  padding-bottom: 20px; 
}
.contacts-main-person-img, .contacts-main-person-info {
  margin: 10px; 
}
.contacts-main-person-img img, .contacts-main-person-info img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 10em;
          border-radius: 10em; 
}
    