.intro .row{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    /* margin: auto; */
}
.intro-header, .intro-body, .intro-button {
    width: 100%;
}
.intro-header{
    text-transform: uppercase;
}
.vehiclerenta-photo{
    background-color: #aaaaaa;
    margin-top: 15px;
}
.vehiclerenta-photo .row{
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px; 
}
.vehiclerenta-photo h4{
    margin: auto;
    text-align: center;
}
.vehiclerenta-photo ul {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto; 
}
