<div *ngIf="isNotMob; then thenBlock else elseBlock"></div>   
<ng-template #thenBlock>
    <app-video-tiser [isUkr] = 'isUkr'></app-video-tiser>
</ng-template>  
<ng-template #elseBlock>
    <app-carousel-tiser [isUkr] = 'isUkr'></app-carousel-tiser>
</ng-template>
<app-advantages [isUkr] = 'isUkr'></app-advantages>
<div *ngIf="isVideo">
    <app-last-video [video] = 'lastVideo' [isUkr] = 'isUkr'></app-last-video>
</div>
<div *ngIf="users">
    <app-carousel-team [users] = 'users' [isUkr] = 'isUkr'></app-carousel-team>
</div>

